html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.appLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.appContent {
  flex: 1;
  overflow: hidden; /* important */
  display: flex;
  flex-direction: column;
}
