.vehicleFilter {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.vehicleFilterRow {
  display: flex;
  gap: 20px;
  align-items: center;
}

.checkboxLabel {
  display: flex;
  gap: 8px;
  align-items: center;
}

.sectionTitle {
  margin-bottom: 10px;
}

.twoCol {
  display: flex;
  gap: 10px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
}

.select {
  width: 100%;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
}

.applyBtn {
  height: 50px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
